<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="castor.pe.desappcastor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_castor_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryProductActivity"
            android:label="@string/category_product_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProductListActivity"
            android:label="@string/product_list_activity_label"
            android:parentActivityName=".CategoryProductActivity" />
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/product_detail_activity_label"
            android:parentActivityName=".ProductListActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CarritoActivity"
            android:label="@string/carrito_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GroupActivity"
            android:label="@string/group_activity_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>